$primaryColor:hsl(151, 63%, 41%);
$titleColor: hsl(151, 97%, 22%) ;
$fontColor:hsl(151, 100%, 5%);
$backgroundColor: hsl(151, 87%, 97%);

$primaryColorDM: hsl(151, 63%, 41%);
$titleColoDM: hsl(151, 97%, 22%);
$fontColorDM: hsl(151, 87%, 97%);
$backgroundColorDM: hsl(150, 27%, 6%); 

